version: 2
commit-workflow:
  jobs:
    - build 
scheduled-workflow:
  triggers:
    - schedule:
        cron: "0 1 * * *"
        filters:
          branches:
            only: try-schedule-workflow

  jobs:
    - build
